* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: #fff;
}

/* ////////////////////////////////// menu //////////////////////////////////////////////////////////////// */

#burger {
    position: fixed;
    top: 20px;
    right: 20px;
    border: 1px solid rgb(219, 177, 195);
    border-radius: 5px;
    z-index: 9;
}

#menu {
    display: flex; 
    flex-direction: column;
    justify-content: space-evenly;
    align-items: flex-start;
    gap: 10px;
    position: fixed;
    top: 20px;
    right: 20px;
    border: 3px solid rgb(238, 187, 238);
    background-color: rgb(161, 161, 216);
    color: #fff;
    transition: transform 0.25s; 
    transform: translateX(250px); 
    width: 200px;
    height: 400px;
    padding: 10px;
    padding-left: 40px;
}

#menu a {
    color: #fff;
    display: block;
    text-decoration: none;
    font-size: 1.2rem;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    padding: 10px;
}

#menu a:hover {
    background-color: #f8bde2; 
    color: #bd4949;
}

#menu a:target {
    background-color: #73eae4; 
    color: #fff; 
}

#chk-burger {
    display: none;
}

#chk-burger:checked + #menu {
    transform: translateX(0);
}

@media (max-width: 600px) {
    #menu {
        width: 100%; 
        height: auto; 
    }
}
