/* //////////////////////////////////  Tableau-horaire  //////////////////////////////////////////////////////////////// */

table {
    border-collapse: collapse;
    width: 100%;
    box-sizing: border-box;
}

td, th {
    border: 2px solid #a84c94;
    padding: 10px;
    width: 78px;
    height: 40px;
    text-align: center;
}

th {
    background-color: rgb(194, 174, 240);
}

thead {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

tbody {
    font-family: 'Courier New', Courier, monospace;
}

tfoot {
    font-family: fantasy;
}

thead tr {
    height: 100px;
    background-color: rgb(230, 186, 201);
}

thead th {
    transform: rotate(90deg);
    background-color: transparent;
    text-shadow: 1px 1px 1px #468ae8;
    padding: 5px 10px;
}

.diagonal {
    transform: rotate(45deg);
    color: rgb(0, 0, 0);
    font-weight: bold;
    text-align: center;
}

.vertical {
    transform: rotate(90deg);
    color: rgb(255, 255, 255);
    font-weight: bold;
    font-variant: small-caps;
    padding: 0;
}

.m-1w1 {
    background-color: #f8caee;
}

.m-1m1 {
    background-color: #a7ddee;
}

.m-1m2 {
    background-color: #f1e3b7;
}

.libre {
    background-color: #9296cc;
}

.eng {
    background-color: #b57498;
}

.muscu {
    background-color: #d4b0e7;
}

.tableau__h3 {
    font-size: .8rem;
}

@media (max-width: 768px) {
    table {
        font-size: 12px;
    }
    td, th {
        padding: 8px;
        width: auto;
    }
}

caption {
    background-color: #a7ddee;
    font-family: monospace;
    font-size: 30px;
    color: #468ae8;
    
}
